@import "tailwindcss";

@font-face {
    font-family: 'tank-big';
    src: url("/src/assest/fonts/After\ Night.ttf");
}

@font-face {
    font-family: 'tank-ital';
    src: url("/src/assest/fonts/NinaScriptDemo.ttf");
}

@theme {
    --color-primary: #FF9549;
    --color-hover-color: #FE8630;
    --color-tank-dark: #181818;
    --color-tank-dark700: #1C2121;
    --color-tank-dark400: #252C2C;
    --color-tank-gray: #939697;
    --color-tank-graydark: #383838;
}

@layer base {
    html{
        @apply scroll-smooth
    }
}

@layer components {
    .container {
        @apply w-[1296px] mx-auto
    }
}

@layer utilities {
    .loc_mark::after{
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 25px solid #FF9549;
        background-color: transparent;
        position: absolute;
        bottom: -17px;
        z-index: -1;
    }

    .owl-carousel .item img{
        height: 220px;
        border-radius: 10px;
    }
    
    .owl-stage-outer{
        height: 220px;
    }
    
    .owl-dots{display: none;}
}